<p-card>
  <div class="grid align-items-center mb-3">
    <div class="col-12 md:col-3">
      <p-dropdown placeholder="Faculty"></p-dropdown>
    </div>

    <div class="col-12 md:col-4">
      <p-dropdown placeholder="Doctor Name"></p-dropdown>
    </div>

    <div class="col-12 md:col-3">
      <input pInputText placeholder="Patient Name" />
    </div>

    <div class="col-12 md:col-2 text-right">
      <button pButton icon="pi pi-chart-bar"></button>
    </div>
  </div>

  <app-appointment-timeline></app-appointment-timeline>
</p-card>
