<div class="timeline">
  <div class="header">
    <div class="time-col"></div>
    @for (d of days; track d.date) {
    <div class="day-col" [class.today]="isToday(d)">
      <div class="appointments-layer">
        @for (app of getAppointmentsForDay(d); track app.id) {
        <div
          class="appointment-block"
          [style.height.px]="getHeight(app)"
          [style.top.px]="getTop(app)"
          [appAppointmentStatus]="app.type"
          cdkDrag
          (cdkDragEnded)="onDragEnded($event, app)"
        >
          {{ app.patientName }}
        </div>
        }
      </div>
    </div>
    }
  </div>

  <div class="body">
    @for (slot of slots; track slot.time) {
    <div class="row">
      <div class="time-col">{{ slot.time }}</div>

      @for (d of days; track d.date) {
      <app-appointment-slot
        [day]="d"
        [slot]="slot"
        (click)="
          slotClick.emit({
            day: d.date,
            time: slot.time,
            minutes: slot.minutes
          })
        "
      >
      </app-appointment-slot>
      }
    </div>
    }
  </div>
</div>
