<div [formGroup]="form" class="grid">
  <div class="col-12">
    <input
      pInputText
      placeholder="Address*"
      formControlName="addressLine"
      class="w-full"
      (blur)="onTouched()"
    />
    @if (form.get('addressLine')?.touched && form.get('addressLine')?.invalid) {
    <small class="p-error block"> Address Line is required </small>
    }
  </div>

  <div class="col-12 md:col-3">
    <input
      pInputText
      placeholder="Area*"
      formControlName="area"
      class="w-full"
      (blur)="onTouched()"
    />
    @if (form.get('area')?.touched && form.get('area')?.invalid) {
    <small class="p-error block"> Area is required </small>
    }
  </div>

  <div class="col-12 md:col-3">
    <input
      pInputText
      placeholder="City"
      formControlName="city"
      class="w-full"
      (blur)="onTouched()"
    />
  </div>

  <div class="col-12 md:col-3">
    <p-inputMask
      mask="999999"
      formControlName="pincode"
      placeholder="Pincode*"
      styleClass="w-full"
      (onBlur)="onTouched()"
    ></p-inputMask>
    @if (form.get('pincode')?.touched && form.get('pincode')?.invalid) {
    <small class="p-error block"> Pincode is required </small>
    }
  </div>
</div>
